.mainContainer {
    height: auto;
    min-height: 30vh;
    width: 100%;
}

.videoContainer {
    min-width: 20vw;
}

.audioAndEditingContainer {
    min-width: 40vw;
}

.audioArea {
    height: 15vh;
    width: 100%;
    background-color: lightgreen;
    margin-bottom: 3px;
}
